<div class="ratio ratio-16x9">


    <!-- TODO figure out how to customize the CSS of the player -->
    <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
    
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
    
        <vg-controls [vgAutohide]="true">
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
    
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    
            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
    
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    
            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
    
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
    
        <video [vgMedia]="$any(media)"
             #media preload="auto" 
            [src]="videoURL" crossorigin 
            [autoplay]="autoplay"
            [poster]="thumbnailURL">
            <!-- TODO:Figure out how to get the poster to work. CORS is great for security. A pain when you need to selectively disable it -->
            Your browser does not support HTML5 video.
        </video>
    </vg-player>
</div>


<h2>{{title}}</h2>
<p [innerText]="artist"> </p>