

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{mTitle}}</h5>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="video-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Title:</label>
          <input
            type="text"
            id="title"
            class="form-control required"
            size="120"
            max="120"
            name="title"
            [ngModel]="video.title"
            #name="ngModel"
            required
            >
      
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Artist:</label>
          <input
            type="text"
            id="artist"
            class="form-control required"
            size="120"
            max="120"
            name="artist"
            [ngModel]="video.artist"
            #artist="ngModel"
            required
            >
      
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Url:</label>
          <input
            type="text"
            id="url"
            class="form-control required"
            size="120"
            max="120"
            name="url"
            [ngModel]="video.url"
            #url="ngModel"
            required
            >
      
        </div>
      </div>
  

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit"(click)="onSubmit(f)">Save</button>
    <button type="button" class="btn btn-secondary"             

      (click)="bsModalRef.hide()">Close</button>
  </div>
</div>

